.clear {
  clear: both;
}

body {
  background-image: url("images/white_wall_hash.png");
  background-repeat: repeat;
}

.listem {
	text-align: center;
}

.listem ul {
  list-style: none;
  display: inline-block;
}

.listem ul li {
  float: left;
  margin-left: auto;
  border: 1px;
}

.listem ul li a{
  display: block;
  text-decoration: none;
  color: #ff4d4d;
  padding: 10px;
}

.listem ul li :hover{
  color: #e60000;
  text-shadow: 1px 1px;
}
